<br>
<div class="container">
    <div class="text-center">
        <div class="text-center"><h1 class="page-header">Invoice</h1></div>
    </div>
</div>
<style>
    .Button
    {
        margin:5px;
    }
</style>

<div id="cart-container" class="container">
     &nbsp;&nbsp;
    <ul class = "nav nav-tabs txtUpper 
    clearfix js-productInfoTab">
        &nbsp;&nbsp;
        <li class= "active" style="color:#1063F0";>
            Products
        </li>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <li class= "sizeDetailtab" style="color:#1063F0";>
            Price ($SGD)
        </li>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
         &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
         &nbsp;&nbsp;
        &nbsp;&nbsp;
       <li class= "sizeDetailtab" style="color:#1063F0";>
            Quantity
        </li>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
    </ul>

    <div class="cart-items">

    {{#each orders}}
        <div class="cart-row">
            <div class="cart-item cart-column">
                <div class="product-orderID">{{orderID}}</div>
                <div class="product-name">{{name}}</div>   
                <div class="product-orderDate">{{orderDate}}</div>             
                <span class="cart-item-title">{{product}}</span>
            </div>
            <span class="cart-price cart-column">${{price}}</span>
            <div class="product-quantity">{{quantity}}</div> 
            <div class="cart-quantity cart-column">
            

                &nbsp;&nbsp;
                &nbsp;&nbsp;
                &nbsp;&nbsp;
                
                <button class="btn btn-danger" type="button" value="remove" 
                onclick="alert('Item removed')">Remove</button>
            </div>
            
        </div>
    {{/each}}
    </div>
</div>
{{!-- Redirect to payment page --}}

 &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;