<div class="container">
    <div class="page-header">
        <h1>Shop</h1>
        <div class="search-form mb-3">
            <form action="/catalog">
                <label for="search">Search</label>
                <input name="search" class="search form-control" type="text" placeholder="Search by name..." aria-label="Search">   
            </form> 
        </div>
        <button id="filter" class="btn btn-primary">Filter</button>
        <div class="filter-menu">
            <a href="#" class="filter-item nameAsc">Name: A to Z</a>
            <a href="#" class="filter-item nameDes">Name: Z to A</a>
        </div>
    </div>
    <div class="product-list">
    {{#each products}}
        <div class="product">
            <div class="product-img-div"><img class="product-img" src="{{urlImage}}"></div>
            <div class="product-category">{{category}}</div>
            <div class="product-name">{{name}}</div>
            <div class="product-price" data-price="{{price}}">${{price}}</div>
            {{!-- Add to cart button is here--}}
        
 <div class="btn btn-primary" id="addItem0{{@index}}" onclick = "addToCartFunction{{@index}}()" style="color:white; cursor:pointer;">Add to cart</div>
    <script>
        if(localStorage.getItem("addItem")){
            let addItem=localStorage.getItem("addItem");
            addArr=JSON.parse(addItem)
        }else{
            addArr=[]
        }
     
function addToCartFunction{{@index}}(category,name,price,urlImage,description) {
        alert("{{name}}");
       // console.log("product", "{{category}}","{{name}}","{{description}}","{{urlImage}}");
        temp={};
        temp.product="{{product}}", temp.category="{{category}}", temp.urlImage="{{urlImage}}", temp.name="{{name}}",temp.description="{{description}}",temp.price="{{price}}";
        addArr.push(JSON.stringify(temp));
       // console.log("dddd::", temp);
        
        localStorage.setItem("addItem", JSON.stringify(addArr));
        document.getElementById("addItem0{{@index}}").removeAttribute("onclick");
                                $("#addItem0{{@index}}").text('Cart Added');
       // document.getElementById("addItem0{{@index}}").innerText("Cart Added");
}
</script>

    </div>
       
    {{/each}}
    </div>
</div>