<div class="container">
	<div class="card card-body">
		{{#if (cmp_eq mode "create")}}
		<h3>Create Product</h3>
		<form action="/admin/create-product?_method=PUT" method="post" id="content-form">
		{{else}}
		<h3>Update Video</h3>
		<form action="/video/update/{{content.uuid}}?_method=PATCH" method="post" id="content-form">
		{{/if}}		
			<div class="form-group">
				<label class="font-italic" for="name">Product Name</label>
				<input type="text" class="form-control" name="name" value="{{content.name}}" required>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="desc">Description</label>
				<textarea class="form-control" id="desc" name="desc" rows="7">{{content.desc}}</textarea>
			</div>
            <div class="form-group">
				<label class="font-italic" for="quantity">Quantity </label>
				<input type="text" class="form-control" name="quantity" value="{{content.quantity}}" required>
			</div>
            <div class="form-group">
				<label class="font-italic" for="price">Price</label>
				<input type="text" class="form-control" name="price" value="{{content.price}}" required>
			</div>
			<br>
			<button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
			{{#if (cmp_ne mode "create")}}
			<a id="btnCancel" class="btn btn-primary" href="/admin/list-products">Cancel</a>
			{{/if}}
		</form>
	</div>
</div>
