<div class="container">
	<div class="card card-body">
		{{#if (cmp_eq mode "create")}}
		<h3>Create Product</h3>
		<form action="/admin/product/create?_method=PUT" method="post" id="content-form" enctype="multipart/form-data">
		{{else}}
		<h3>Update Product</h3>
		<form action="/admin/product/update/{{content.uuid}}?_method=PATCH" method="post" id="content-form" enctype="multipart/form-data">
		{{/if}}		
			<div class="form-group">
				<label class="font-italic" for="name">Product Name</label>
				<input type="text" class="form-control" name="name" value="{{content.name}}" required>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="description">Description</label>
				<textarea class="form-control" id="description" name="description" rows="7"  required>{{content.description}}</textarea>
			</div>
			<div class="form-group">
				<label class="font-italic" for="category">Category</label>
				<input type="text" class="form-control" name="category" value="{{content.category}}" required>
			</div>
            <div class="form-group">
				<label class="font-italic" for="quantity">Quantity</label>
				<input type="text" class="form-control" name="quantity" value="{{content.quantity}}" required>
			</div>
            <div class="form-group">
				<label class="font-italic" for="price">Price (in dollars)</label>
				<input type="text" class="form-control" name="price" value="{{content.price}}" required>
			</div>
			<input type="file" id="productUpload" name="productUpload" accept="image/png,image/jpeg,image/jpg,image/gif">
			<input type="hidden" id="content-product-url" name="productURL">
			{{#if (cmp_ne mode "create")}}
			<img id="productImage" class="border img thumbnail img fluid" src="{{content.urlImage}}">
			{{/if}}
			<div class="font-weight-bold text-danger small" id="productErr" style="display: none;"></div>
			<br>
			<button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
			{{#if (cmp_ne mode "create")}}
			<a id="btnCancel" class="btn btn-primary" href="/admin/product/list">Cancel</a>
			{{/if}}
			<a class="btn btn-primary" href="/admin/products/list">Back</a>
		</form>
	</div>
</div>
