<div class="text-center"><h1 class="page-header">Products</h1></div>
<div class="container-fluid">
    <div class="search-form">
        <form action="/admin/product/list">
            <label for="search">Search</label>
            <input name="search" class="search form-control" type="text" placeholder="Search by name..." aria-label="Search">   
        </form> 
    </div>
    <form action="/admin/product/download"> 
        <button type="submit" class="mb-4 btn btn-primary">Download product list</button>
    </form>  
    {{#each products}}
    <div class="product">
        <div class="product-img-div"><img class="product-img" src="{{urlImage}}"></div>
        <div class="product-details">
            <div class="product-category">{{category}}</div>
            <div class="product-name">{{name}}</div>
            <div class="product-description">{{description}}</div>
            <div class="product-quantity">Quantity: {{quantity}}</div>
            <div class="product-price">Price: ${{price}}</div>
            <a href="/admin/product/update/{{uuid}}" class="card-link">
            <i class="fas fa-pencil-alt"></i>
                Edit
            </a>
            <form method="POST" action="/admin/product/delete/{{uuid}}?_method=DELETE" id="toggle-delete-{{uuid}}">
                <a href="javascript:;" class="card-link btn-delete" onclick="if (confirm('Confirm delete?')) parentNode.submit();" data-title="Confirm delete?">
                    <i class="far fa-trash-alt"></i>
                    Delete
                </a>
            </form>
        </div>
    </div>
    {{/each}}
</div>

