<div class="container mt-5">
    <a class="btn btn-primary" href="/admin/product/list?page=0">Back</a>
    <div class="product-img-div"><img class="product-img" src="{{content.urlImage}}"></div>
    <div class="product-details">
        <div class="product-name">Product: {{content.name}}</div>
        <div class="product-category">Category: {{content.category}}</div>
        <div class="product-description">Description: {{content.description}}</div>
        <div class="product-quantity">Quantity: {{content.quantity}}</div>
        <div class="product-price">Price: ${{content.price}}</div>
        <a href="/admin/product/update/{{content.uuid}}" class="card-link">
        <i class="fas fa-pencil-alt"></i>
            Edit
        </a>
        <form method="POST" action="/admin/product/delete/{{content.uuid}}?_method=DELETE" id="toggle-delete-{{content.uuid}}">
            <a href="javascript:;" class="card-link btn-delete" onclick="if (confirm('Confirm delete?')) parentNode.submit();" data-title="Confirm delete?">
                <i class="far fa-trash-alt"></i>
                Delete
            </a>
        </form>
    </div>
</div>